In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('US_CO2_Emissions.csv')
df.head()

   Year  CO2 emissions (metric tons per capita)
0  1985                               18.882313
1  1986                               18.720723
2  1987                               19.350334
3  1988                               20.010413
4  1989                               20.075770

In [7]:
emission = df[['CO2 emissions (metric tons per capita)']]
emission.head()

   CO2 emissions (metric tons per capita)
0                               18.882313
1                               18.720723
2                               19.350334
3                               20.010413
4                               20.075770

In [10]:
forecast_out  = 8
emission['Prediction'] = emission['CO2 emissions (metric tons per capita)'].shift(-forecast_out)
emission.head()

   CO2 emissions (metric tons per capita)  Prediction
0                               18.882313   19.238109
1                               18.720723   19.280611
2                               19.350334   19.253938
3                               20.010413   19.611090
4                               20.075770   20.347873

In [29]:
x = np.array(emission.drop(['Prediction'],1))

x = x[:-forecast_out]

print(x.shape)

(18, 1)

C:\Users\bhava\AppData\Local\Temp/ipykernel_7568/1083427598.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = np.array(emission.drop(['Prediction'],1))

In [54]:
y = np.array(emission['Prediction'])
y = b[:-forecast_out]
y.shape

(10,)

In [55]:
a_train, x_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2)

In [56]:
svr_rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.1)
svr_rbf.fit(x_train,y_train)

SVR(C=1000.0, gamma=0.1)

In [57]:
svr_confidence = svr_rbf.score(x_test,y_test)
print("SVM Confidence : ",svr_confidence)

SVM Confidence :  -1.77629844778146

In [19]:

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [20]:
lr_confidence = lr.score(x_test,y_test)
print("Linear Regression confidence : ",lr_confidence)

Linear Regression confidence :  0.26986694038505876

In [21]:

x_forecast = np.array(emission.drop(['Prediction'],1))[-forecast_out:]
print(x_forecast)

[[19.50870471]
 [19.60357288]
 [19.478026  ]
 [18.9576435 ]
 [19.05602695]
 [18.29480563]
 [16.81886848]
 [17.43419587]]

C:\Users\bhava\AppData\Local\Temp/ipykernel_7568/65888635.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x_forecast = np.array(emission.drop(['Prediction'],1))[-forecast_out:]

In [58]:
svm_pred = svr_rbf.predict(x_forecast)
svm_pred

array([19.67214837, 19.76915764, 19.63881807, 19.06194989, 19.15937078,
       18.89156442, 22.122121  , 20.35794153])

In [59]:
k = pd.read_csv('US_CO2_Emissions - Test.csv')

In [60]:
k.head()

   Year  CO2 emissions (metric tons per capita)
0  2011                               16.599404
1  2012                               15.771145
2  2013                               16.102958
3  2014                               16.026379
4  2015                               15.535342

In [61]:
predict = lr.predict(x_forecast)
predict

actual = k['CO2 emissions (metric tons per capita)'].tail(forecast_out)
actual = np.array(actual)
final = [actual,svm_pred,predict]
pred_df = pd.DataFrame(data=actual,columns=['Actual'])
pred_df['SVM_Pred'] = svm_pred
pred_df['LR_Pred'] = predict
pred_df

      Actual   SVM_Pred    LR_Pred
0  16.599404  19.672148  19.312947
1  15.771145  19.769158  19.255243
2  16.102958  19.638818  19.331608
3  16.026379  19.061950  19.648133
4  15.535342  19.159371  19.588291
5  15.131747  18.891564  20.051308
6  14.805882  22.122121  20.949054
7  15.240875  20.357942  20.574778